body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background: radial-gradient(circle at center, #4a4460, #0a090a);
}

.content {
    max-width: 50%;
}

h1 {
    font-size: 36px;
    margin: 0;
    color: #fff;
}

p {
    font-size: 18px;
    color: #aaa;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
    
}

.stat {
    background: linear-gradient(145deg, #333, #111);
    padding: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: right;
    width: 25vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h2 {
    margin: 0;
    font-size: 28px;
    color: #fff;
    background: linear-gradient(90deg, #3b82f6, #a855f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stat p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #ccc;
}
